.rdp-day_today:not(.rdp-day_outside) {
    color: rgb(157, 183, 255);
}

.rdp {
    --rdp-cell-size: 50px;
    --rdp-background-color: rgb(66, 73, 93);
}

.rdp-months {
    color: whitesmoke;
    font-size: large;
    margin: 0;
}



span+span {
    padding: 2em;
}